<div style="display: flex;justify-content: center;align-items: center;">
  <div class="main-container">
    <div class="selection-cont">
      <select #c1 name="" id="country1" (mouseleave)="changeBase(c1.value)">
        <option value="USD">US dollar</option>
        <option value="INR">Indian Rupees</option>
        <option value="EUR">Euro</option>
      </select>
      <p>to</p>
      <select #c2 name="" id="country1" (mouseleave)="toCountry(c2.value)">
        <option value="USD">US dollar</option>
        <option value="INR">Indian Rupees</option>
        <option value="EUR">Euro</option>
      </select>

    </div>
    <button (click)="convertCurrency()">Submit</button>
    <div class="result-container">
      <p>1 {{base}}</p>
      <p>=</p>
      <p>{{result}} {{country2}}</p>
    </div>
  </div>
</div>